/* menu bar */

.topnav {
    background-color: #333;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9;
}

.topnav h2 {
    float: left;
    color: #f2f2f2;
    text-align: center;
    margin: 10px;
    cursor: pointer;
}

.topnav span:hover {
    background-color: #ddd;
    color: black;
}

.topnav span.active {
    background-color: #4CAF50;
    color: white;
}

/* menu bar ends */

/* collection list */

.table-container {
    max-height: 600px;
    overflow-y: auto;
}

#collection-table {
    border-collapse: collapse;
    width: 100%;
}

#collection-table td,
#collection-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#collection-table tr td:first-child {
    width: 80%;
    max-width: 0;
    word-wrap: break-word;
    padding: 10px 20px;
}

#collection-table tr td:nth-child(2) {
    text-align: center;
}

#collection-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#collection-table tr:hover {
    background-color: #ddd;
}

#collection-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4CAF50;
    color: white;
}

/* collection list ends */

/* button css */

.btn {
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 2px;
}

.btn-green {
    background-color: #4CAF50;
}

.btn-blue {
    background-color: #008CBA;
}

.btn-red {
    background-color: #f44336;
}

.btn-gray {
    background-color: #e7e7e7;
    color: black;
}

.btn-black {
    background-color: #555555;
}

/* button css ends */

/* Pagination */

.txtPageNumber, .txtSearch, .ddlPageSize {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.txtSearch {
    background-image: url('/icons/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 10px 20px 10px 40px;
}

.ddlPageSize {
    background-color: #fff;
}

.search-result-label {
    padding-top: 10px;
    text-align: center;
}

.search-collections {
    padding: 10px 20px;
}

/* Pagination Ends */

/* utility classes */

.mtxl {
    margin-top: 50px;
}

.mtxxl {
    margin-top: 100px;
}

.mbxxl {
    margin-bottom: 100px;
}

/* utility classes end */